{% extends "head.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">удалить аккаунт</h3>
    <div class="box">


        <form method="POST" >

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="rm_usr" placeholder="Имя пользователя"  required>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="pass" placeholder="Пароль" required>
                </div>
            </div>

            


            <button class="button is-block is-info is-large is-fullwidth">удалить аккаунт</button>
            



            
        </form>
    </div>
</div>
{% endblock %}